<!-- Input pour renter l'adresse -->
<div style="text-align:center">
  <h1>
    Mettez votre adresse
  </h1>
  <form>
    <label for="address">Adresse</label>
    <input name="address" type="text" id="address" #address>
    <button type="button" (click)="getAddress(address.value)">Valider</button>
  </form>
 </div>

 <!-- Affichage des résultats -->
<div *ngFor="let address of data.features">
  <h3 class="addressValue" (click)="sendCoord(address.geometry.coordinates[0], address.geometry.coordinates[1])">
     {{address.properties.label}}
   </h3>
</div>

<!-- Affichage Map -->
<app-map [longitude]=longitude [latitude]= latitude></app-map>
